.header-panel{
    background-color: lightskyblue;
    font-size: 20px;
    color: darkslateblue;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.footer-panel{
    background-color: lightskyblue;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    color: darkslateblue;
}

.contentPanel{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    color: darkslateblue;
}

.ui-icon.fa {
    text-indent:0px
}